In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"https://raw.githubusercontent.com/darsh19ana/Crop-Production-Analysis/main/Power%20BI%20enabled%20Crop%20Production%20Analysis.csv")

In [3]:
df.head(3)

,Unnamed: 0,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,0,Bihar,NALANDA,1997,Rabi,Wheat,81934.0,160425.0
1,1,Assam,KARBI ANGLONG,2011,Whole Year,Onion,257.0,514.0
2,2,Gujarat,ANAND,2012,Summer,Maize,100.0,100.0

In [4]:
df = df.drop('Unnamed: 0', axis=1)
df.head(3)

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Bihar,NALANDA,1997,Rabi,Wheat,81934.0,160425.0
1,Assam,KARBI ANGLONG,2011,Whole Year,Onion,257.0,514.0
2,Gujarat,ANAND,2012,Summer,Maize,100.0,100.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73827 entries, 0 to 73826
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State_Name     73827 non-null  object
 1   District_Name  73827 non-null  object
 2   Crop_Year      73827 non-null  int64
 3   Season         73827 non-null  object
 4   Crop           73827 non-null  object
 5   Area           73827 non-null  float64
 6   Production     72731 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 3.9+ MB

In [6]:
df.describe()

          Crop_Year          Area    Production
count  73827.000000  7.382700e+04  7.273100e+04
mean    2005.657551  1.218297e+04  6.210320e+05
std        4.954910  5.348285e+04  1.749756e+07
min     1997.000000  4.000000e-02  0.000000e+00
25%     2002.000000  8.100000e+01  8.900000e+01
50%     2006.000000  5.900000e+02  7.290000e+02
75%     2010.000000  4.500000e+03  7.200000e+03
max     2015.000000  8.580100e+06  1.125000e+09

In [7]:
df.dtypes

State_Name        object
District_Name     object
Crop_Year          int64
Season            object
Crop              object
Area             float64
Production       float64
dtype: object

In [8]:
df.shape

(73827, 7)

In [9]:
df.isna().sum()

State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       1096
dtype: int64

In [10]:
# we have 73827 rows and out of that 1096 were null (1.48%) so we decided to drop these rows for better analysis
df.dropna(inplace=True)

In [11]:
df.isna().sum()

State_Name       0
District_Name    0
Crop_Year        0
Season           0
Crop             0
Area             0
Production       0
dtype: int64

In [12]:
df.State_Name.unique()

array(['Bihar', 'Assam', 'Gujarat', 'Karnataka', 'Uttar Pradesh',
       'Odisha', 'Rajasthan', 'Chhattisgarh', 'Tamil Nadu', 'Haryana',
       'Kerala', 'Madhya Pradesh', 'West Bengal', 'Punjab',
       'Andhra Pradesh', 'Maharashtra', 'Telangana ', 'Nagaland',
       'Meghalaya', 'Jharkhand', 'Uttarakhand', 'Himachal Pradesh',
       'Arunachal Pradesh', 'Mizoram', 'Manipur', 'Puducherry',
       'Dadra and Nagar Haveli', 'Chandigarh', 'Sikkim', 'Tripura',
       'Jammu and Kashmir ', 'Goa', 'Andaman and Nicobar Islands'],
      dtype=object)

In [13]:
df.District_Name.unique()

array(['NALANDA', 'KARBI ANGLONG', 'ANAND', 'UTTAR KANNAD', 'JAUNPUR',
       'MARIGAON', 'SONEPUR', 'DHOLPUR', 'BELGAUM', 'MUNGER',
       'JANJGIR-CHAMPA', 'SHRAVASTI', 'PATAN', 'KARUR', 'KASGANJ',
       'MAHENDRAGARH', 'DHEMAJI', 'BAKSA', 'PATHANAMTHITTA', 'DHAMTARI',
       'BELLARY', 'TINSUKIA', 'RAE BARELI', 'KOLAR', 'NEEMUCH',
       'BARDHAMAN', 'NAYAGARH', 'AMRITSAR', 'BANSWARA', 'KADAPA',
       'NABARANGPUR', 'BHIWANI', 'SHEOHAR', 'PUDUKKOTTAI', 'MADHEPURA',
       'SUKMA', 'PARBHANI', 'SRIKAKULAM', 'EAST GODAVARI', 'BIJAPUR',
       'NAWADA', 'REWARI', 'PILIBHIT', 'BULDHANA', 'DINAJPUR UTTAR',
       'GONDA', 'WEST GODAVARI', 'JALANDHAR', 'RAIGARH', 'ALWAR',
       'RANGAREDDI', 'SIRSA', 'KASARAGOD', 'GAYA', 'KAUSHAMBI', 'SEONI',
       'KAITHAL', 'DIMAPUR', 'LATUR', 'CHITRADURGA', 'CHITTORGARH',
       'DEORIA', 'NANDED', 'MEDAK', 'MALAPPURAM', 'IDUKKI', 'NADIA',
       'GONDIA', 'DIMA HASAO', 'CHITTOOR', 'WASHIM', 'AZAMGARH', 'BOUDH',
       'KOTA', 'KENDRAPARA', 'RAISEN', 'WEST GARO HILLS', 'BUNDI',
       'GODDA', 'RAMPUR', 'SIDDHARTH NAGAR', 'FAIZABAD', 'DINDIGUL',
       'BEMETARA', 'TUENSANG', 'GOALPARA', 'TIRUVANNAMALAI', 'ANANTAPUR',
       'SUNDARGARH', 'BARGARH', 'HATHRAS', 'JALAUN', 'SANT KABEER NAGAR',
       'RUDRA PRAYAG', 'MORENA', 'BALRAMPUR', 'KULLU', 'KUSHI NAGAR',
       'JAJAPUR', 'JAMNAGAR', 'COIMBATORE', 'ERODE', 'KATNI', 'KARAULI',
       'DEOGARH', 'PATNA', 'CHANDAULI', 'MAHARAJGANJ', 'KHAGARIA',
       'BAREILLY', 'KANPUR DEHAT', 'JHUNJHUNU', 'UPPER SIANG', 'KOLASIB',
       'KATIHAR', 'NAINITAL', 'AJMER', 'GAJAPATI', 'VIDISHA',
       'BANGALORE RURAL', 'KANKER', 'KOLHAPUR', 'BIDAR', 'TAMENGLONG',
       'WEST KHASI HILLS', 'VIZIANAGARAM', 'KENDUJHAR', 'PANCHKULA',
       'ALLAHABAD', 'MYSORE', 'CHHINDWARA', 'DHULE', 'HARIDWAR',
       'SHEIKHPURA', 'SONIPAT', 'BAHRAICH', 'BURHANPUR',
       'SANT RAVIDAS NAGAR', 'PITHORAGARH', 'GWALIOR', 'JABALPUR',
       'DATIA', 'UDALGURI', 'DARJEELING', 'JAGATSINGHAPUR', 'JHANSI',
       'DHUBRI', 'KANNAUJ', 'CUTTACK', 'HOSHIARPUR', 'AKOLA',
       'PONDICHERRY', 'PAKUR', 'BALAGHAT', 'VIRUDHUNAGAR', 'CHAMBA',
       'JAISALMER', 'CHURU', 'THENI', 'SHEOPUR', '24 PARAGANAS SOUTH',
       'SEHORE', 'BAGHPAT', 'ETAWAH', 'YAMUNANAGAR', 'JALNA', 'SARAN',
       'SANGLI', 'BEGUSARAI', 'MAHASAMUND', 'BHOPAL', 'ALIRAJPUR',
       'UNNAO', 'SAWAI MADHOPUR', 'PAURI GARHWAL', 'BARMER', 'PANNA',
       'RAMANAGARA', 'DOHAD', 'LAKHIMPUR', 'MALKANGIRI', 'JASHPUR',
       'RAICHUR', 'JEHANABAD', 'THIRUVANANTHAPURAM', 'MADHUBANI',
       'RAJKOT', 'MATHURA', 'BARAN', 'DURG', 'MAYURBHANJ', 'BISHNUPUR',
       'SAHARSA', 'BANAS KANTHA', 'KISHANGANJ', 'SIROHI', 'LUNGLEI',
       'UDAIPUR', 'PALWAL', 'GUNTUR', 'BILASPUR', 'SONBHADRA', 'KHEDA',
       'SHAHDOL', 'NALBARI', 'PRAKASAM', 'HOOGHLY', 'AMBEDKAR NAGAR',
       'NARSINGHPUR', 'VISAKHAPATANAM', 'NAGAON', 'MUZAFFARNAGAR',
       'NAGAUR', 'BHAVNAGAR', 'TEHRI GARHWAL', 'BAGESHWAR', 'JALPAIGURI',
       'FIROZEPUR', 'DHARMAPURI', 'KHERI', 'BAGALKOT', 'AHMADABAD',
       'SHAJAPUR', 'HAVERI', 'KOZHIKODE', 'SONITPUR', 'BANKURA', 'TUMKUR',
       'PURULIA', 'ARARIA', 'KOPPAL', 'PURNIA', 'KABIRDHAM', 'SHIVPURI',
       'SULTANPUR', 'CHANGLANG', 'GADCHIROLI', 'BALESHWAR', 'BASTAR',
       'JODHPUR', 'SHIMLA', 'MADURAI', 'NAGAPATTINAM', 'SURAT', 'ANUPPUR',
       'GUNA', 'DADRA AND NAGAR HAVELI', 'GOPALGANJ', 'JALGAON', 'RATLAM',
       'MANDI', 'HANUMANGARH', 'PANIPAT', 'HOWRAH', 'SITAPUR',
       'SPSR NELLORE', 'THE NILGIRIS', 'BHOJPUR', 'KONDAGAON',
       'SHAHJAHANPUR', 'BHARUCH', 'PUNE', 'BEED', 'CHANDRAPUR', 'REWA',
       'KOKRAJHAR', 'MOKOKCHUNG', 'BALLIA', 'CHAMPAWAT', 'KARIMGANJ',
       'CHANDIGARH', 'PRATAPGARH', 'ROHTAK', 'NASHIK', 'FARRUKHABAD',
       'AURANGABAD', 'KACHCHH', 'JORHAT', 'KRISHNA', 'TAWANG', 'MAINPURI',
       'WOKHA', 'UNA', 'VILLUPURAM', 'ETAH', 'BANDA', 'JAMUI', 'VADODARA',
       'DINDORI', 'MEDINIPUR WEST', 'JHALAWAR', 'BALODA BAZAR', 'KODAGU',
       'MAHBUBNAGAR', 'GANJAM', 'SIRMAUR', 'DARRANG', 'AURAIYA',
       'NUAPADA', 'KAMRUP METRO', 'KHORDHA', 'PERAMBALUR', 'ARWAL',
       'AGRA', 'LAKHISARAI', 'TIRUCHIRAPPALLI', 'SIVAGANGA', 'SIWAN',
       'GANGANAGAR', 'NORTH DISTRICT', 'MANDSAUR', 'WEST TRIPURA',
       'MANDYA', 'LOWER DIBANG VALLEY', 'PURBI CHAMPARAN', 'SIDHI',
       'UPPER SUBANSIRI', 'KATHUA', 'DARBHANGA', 'BHAGALPUR',
       'MURSHIDABAD', 'JUNAGADH', 'DHARWAD', 'KAMRUP', 'BETUL', 'HARDA',
       'BENGALURU URBAN', 'HAMIRPUR', 'SATNA', 'LALITPUR', 'NIZAMABAD',
       'BIRBHUM', 'JALORE', 'KHAMMAM', 'REASI', 'SAMASTIPUR', 'KOLLAM',
       'VALSAD', 'HAILAKANDI', 'ARIYALUR', 'RAJNANDGAON', 'COOCHBEHAR',
       'ANUGUL', 'THIRUVARUR', 'SALEM', 'AMRELI', 'BUXAR', 'KHARGONE',
       'JHARSUGUDA', 'GORAKHPUR', 'PURI', 'PANCH MAHALS', 'RATNAGIRI',
       'BARWANI', 'PALAMU', 'PATIALA', 'ZUNHEBOTO', 'ERNAKULAM',
       'BALANGIR', 'DEWAS', 'MANSA', 'UDUPI', 'CHIRANG', 'KRISHNAGIRI',
       'HINGOLI', 'CUDDALORE', 'MON', 'KANGRA', 'TIRUNELVELI',
       'SIVASAGAR', 'KARIMNAGAR', 'BHIND', 'NORTH TRIPURA', 'SAMBALPUR',
       'CACHAR', 'ANANTNAG', 'HISAR', 'DIBRUGARH', 'THANJAVUR',
       'FATEHGARH SAHIB', 'MOGA', 'ASHOKNAGAR', 'HOSHANGABAD', 'MAHOBA',
       'MEDINIPUR EAST', 'JHAJJAR', 'DHALAI', 'SOUTH GARO HILLS',
       'RAIPUR', 'KANCHIPURAM', 'NARAYANPUR', 'BANKA', 'KURNOOL',
       'SITAMARHI', 'BHANDARA', 'KOREA', 'RAYAGADA', 'VAISHALI', 'MANDLA',
       'DAVANGERE', 'BULANDSHAHR', 'NALGONDA', 'NAGPUR', 'GULBARGA',
       'ALIGARH', 'BONGAIGAON', 'SABAR KANTHA', 'INDORE', 'DANTEWADA',
       'HARDOI', 'SHIMOGA', 'RAMANATHAPURAM', 'WAYANAD', 'FIROZABAD',
       'ADILABAD', 'KANPUR NAGAR', 'AMROHA', 'HASSAN', 'TIKAMGARH',
       'PORBANDAR', 'KANNUR', 'GAUTAM BUDDHA NAGAR', 'KALAHANDI',
       'RUPNAGAR', 'SURENDRANAGAR', 'BASTI', 'KORBA', 'EAST GARO HILLS',
       'KHANDWA', 'MAHE', 'PALI', 'MAHESANA', 'SANGRUR', 'KANNIYAKUMARI',
       'PEREN', 'LUCKNOW', 'SAHARANPUR', 'UDHAMPUR', 'SIKAR', 'JHABUA',
       'KARAIKAL', 'DAMOH', 'CHHATARPUR', 'SOUTH GOA', 'IMPHAL WEST',
       'SOUTH WEST KHASI HILLS', 'DINAJPUR DAKSHIN', 'BARABANKI',
       'CHIKBALLAPUR', 'WARANGAL', 'DEHRADUN', 'BARAMULLA', 'MEERUT',
       'VELLORE', 'MUKTSAR', 'SURGUJA', 'BUDAUN', 'KIPHIRE', 'SRINAGAR',
       'MUZAFFARPUR', 'UMARIA', 'MUNGELI', 'NAMAKKAL', 'GOLAGHAT',
       'VARANASI', 'MALDAH', 'DAUSA', 'CHIKMAGALUR', 'CHURACHANDPUR',
       'TUTICORIN', 'RI BHOI', 'RAJGARH', 'AMRAVATI', 'BARPETA',
       'SEPAHIJALA', 'UKHRUL', 'ROHTAS', 'PAPUM PARE', 'CHITRAKOOT',
       'TONK', 'BHILWARA', 'KINNAUR', 'SOUTH TRIPURA', 'KOHIMA',
       'DAKSHIN KANNAD', 'JAIPUR', 'LONGLENG', 'KANDHAMAL', 'MORADABAD',
       'DUNGARPUR', 'RAIGAD', 'SINDHUDURG', 'KARNAL', 'DIBANG VALLEY',
       'YAVATMAL', 'DHENKANAL', 'GHAZIPUR', 'GOMATI', 'THRISSUR', 'DHAR',
       'BIJNOR', 'UDAM SINGH NAGAR', 'CHAMPHAI', 'SAGAR',
       'SOUTH ANDAMANS', 'EAST KHASI HILLS', 'KAIMUR (BHABUA)',
       'SINGRAULI', 'UTTAR KASHI', 'LOWER SUBANSIRI', 'KURUKSHETRA',
       'KORAPUT', 'EAST JAINTIA HILLS', 'MAMIT', 'THIRUVALLUR', 'SATARA',
       'TIRUPPUR', 'FARIDKOT', 'CHAMOLI', 'ALAPPUZHA', 'GURGAON', 'GADAG',
       'RAJSAMAND', 'GHAZIABAD', 'UNAKOTI', 'BIKANER', 'SOLAPUR',
       'BHARATPUR', 'UJJAIN', 'GARIYABAND', 'BHADRAK',
       '24 PARAGANAS NORTH', 'SUPAUL', 'SOUTH DISTRICT', 'SOLAN',
       'WARDHA', 'AHMEDNAGAR', 'GURDASPUR', 'CHAMARAJANAGAR', 'SENAPATI',
       'CHANDEL', 'FATEHABAD', 'JIND', 'LATEHAR', 'EAST DISTRICT',
       'TIRAP', 'KODERMA', 'THANE', 'FATEHPUR', 'EAST SIANG', 'DUMKA',
       'AIZAWL', 'BOKARO', 'PASHCHIM CHAMPARAN', 'MAU', 'AMETHI', 'BALOD',
       'PHEK', 'YADGIR', 'WEST SIANG', 'NARMADA', 'MIRZAPUR', 'AMBALA',
       'SHAMLI', 'GANDERBAL', 'ALMORA', 'NAVSARI', 'SURAJPUR',
       'NANDURBAR', 'WEST KAMENG', 'PALAKKAD', 'FARIDABAD', 'NICOBARS',
       'DODA', 'JAMMU', 'GARHWA', 'OSMANABAD', 'LEH LADAKH',
       'SOUTH WEST GARO HILLS', 'YANAM', 'HAPUR', 'SIMDEGA', 'BARNALA',
       'BATHINDA', 'LOHIT', 'BADGAM', 'KURUNG KUMEY', 'WEST DISTRICT',
       'LAWNGTLAI', 'IMPHAL EAST', 'SAIHA', 'KOTTAYAM', 'CHATRA',
       'EAST KAMENG', 'KISHTWAR', 'DANG', 'GIRIDIH', 'PULWAMA',
       'NORTH GOA', 'SAHEBGANJ', 'MEWAT', 'JAMTARA', 'ANJAW',
       'NORTH AND MIDDLE ANDAMAN', 'THOUBAL', 'RANCHI', 'TARN TARAN',
       'SAMBHAL', 'NAWANSHAHR', 'FAZILKA', 'GANDHINAGAR', 'KHOWAI',
       'SARAIKELA KHARSAWAN', 'RAJAURI', 'SHOPIAN', 'HYDERABAD',
       'NORTH GARO HILLS', 'GUMLA', 'HAZARIBAGH', 'LOHARDAGA', 'SERCHHIP',
       'DHANBAD', 'KUPWARA', 'LUDHIANA', 'S.A.S NAGAR', 'WEST SINGHBHUM',
       'WEST JAINTIA HILLS', 'MUMBAI', 'KAPURTHALA', 'EAST SINGHBUM',
       'DEOGHAR', 'POONCH', 'LAHUL AND SPITI', 'KARGIL', 'AGAR MALWA',
       'TAPI', 'KULGAM', 'PATHANKOT', 'BANDIPORA', 'RAMGARH', 'SAMBA',
       'RAMBAN', 'LONGDING', 'PALGHAR', 'NAMSAI', 'KHUNTI'], dtype=object)

In [14]:
df.Season.unique()

array(['Rabi       ', 'Whole Year ', 'Summer     ', 'Winter     ',
       'Kharif     ', 'Autumn     '], dtype=object)

In [15]:
# here we remove unwanted white spaces from season column 

df['Season']=df['Season'].apply(lambda x : x.strip())
df['Crop']=df['Crop'].apply(lambda x : x.strip())

In [16]:
df.Season.unique()

array(['Rabi', 'Whole Year', 'Summer', 'Winter', 'Kharif', 'Autumn'],
      dtype=object)

In [17]:
df['Season'].value_counts()

Season
Kharif        28256
Rabi          19918
Whole Year    16821
Summer         4418
Winter         1834
Autumn         1484
Name: count, dtype: int64

In [18]:
'''since there are Three types of crop out of which two are mainly seasonal Rabi and Kharif and one is for whole year but
 5 crops season were present in our datset.we got to know that summer and Autumn synonyms of Kharif and winter is synonyms of
 of Rabi so we decided to replace with their original name which is Kharif Rabi'''

df['Season']=df['Season'].apply(lambda x : x.replace('Autumn','Kharif'))
df['Season']=df['Season'].apply(lambda x : x.replace('Summer','Kharif'))
df['Season']=df['Season'].apply(lambda x : x.replace('Winter','Rabi'))

In [19]:
df['Season'].value_counts()

Season
Kharif        34158
Rabi          21752
Whole Year    16821
Name: count, dtype: int64

In [20]:
# we have observed that many values of production were 0 since it is representing production of whole district
# so we decided drop all rows whose production values are zero

df.drop(df[df['Production']==0].index,inplace=True)

print(f'After removing the row which has 0 Production : {df.shape[0]}')

After removing the row which has 0 Production : 71680

In [21]:
df.Crop.unique()

array(['Wheat', 'Onion', 'Maize', 'Groundnut', 'Rapeseed &Mustard',
       'Garlic', 'Coconut', 'Moong(Green Gram)', 'Other Kharif pulses',
       'Sweet potato', 'Tobacco', 'Turmeric', 'Small millets',
       'Sugarcane', 'Linseed', 'Banana', 'Rice', 'Cowpea(Lobia)',
       'Sesamum', 'Sannhamp', 'Dry chillies', 'Peas & beans (Pulses)',
       'Jowar', 'Ragi', 'Sunflower', 'Arhar/Tur', 'Lemon', 'Urad',
       'Tomato', 'Barley', 'Other Fresh Fruits', 'Dry ginger', 'Potato',
       'Gram', 'Castor seed', 'Arecanut', 'Soyabean', 'Niger seed',
       'Bajra', 'Horse-gram', 'Safflower', 'Guar seed', 'Masoor',
       'Tapioca', 'Jack Fruit', 'Pome Granet', 'Other  Rabi pulses',
       'Korra', 'Coriander', 'Ginger', 'Cotton(lint)', 'other oilseeds',
       'Mango', 'Jute', 'Mesta', 'Other Cereals & Millets',
       'Pulses total', 'Tea', 'Citrus Fruit', 'Samai', 'Cashewnut',
       'Papaya', 'Blackgram', 'Moth', 'Orange', 'Black pepper',
       'Oilseeds total', 'Khesari', 'Cardamom', 'Rubber', 'Paddy',
       'Brinjal', 'Total foodgrain', 'Cabbage', 'Bhindi', 'Cashewnut Raw',
       'Beans & Mutter(Vegetable)', 'Drum Stick', 'other misc. pulses',
       'Atcanut (Raw)', 'Turnip', 'Pineapple', 'Grapes', 'Rajmash Kholar',
       'Pome Fruit', 'Bitter Gourd', 'Jute & mesta', 'Other Vegetables',
       'Ricebean (nagadal)', 'Colocosia', 'Kapas', 'Cond-spcs other',
       'Varagu', 'Cashewnut Processed', 'Arcanut (Processed)', 'Bean',
       'Carrot', 'Sapota', 'Redish', 'Lentil', 'Perilla', 'Bottle Gourd',
       'Jobster', 'Cauliflower'], dtype=object)

In [22]:
# we have replace sub-category with their main-category 

df['Crop']=df['Crop'].apply(lambda x:x
                                    .replace('Ginger','Dry ginger'))

df['Crop']=df['Crop'].apply(lambda x:x
                                    .replace('Turnip','Onion'))

df['Crop']=df['Crop'].apply(lambda x:x
                                      .replace('Cashewnut Raw','Cashewnut')
                                      .replace('Cashewnut Processed','Cashewnut'))

In [23]:
# we have replace sub-category of pulses with pulse

df['Crop']=df['Crop'].apply(lambda x:x.replace('Other Kharif pulses','pulses')
                                    .replace('Other  Rabi pulses','pulses')
                                    .replace('Peas & beans (Pulses)','pulses')
                                    .replace('Pulses total','pulses')
                                    .replace('other misc. pulses','pulses')
                                    .replace('Moong(Green Gram)','pulses')
                                    .replace('Urad','pulses')
                                    .replace('Arhar/Tur','pulses')
                                    .replace('Bean','pulses')
                                    .replace('Ricebean (nagadal)','pulses')
                                    .replace('Lentil','pulses')
                                    .replace('Masoor','pulses')
                                    .replace('Khesari','pulses')
                                    .replace('Horse-gram','pulses')
                                    .replace('Rajmash Kholar','pulses'))

In [24]:
#since number of rows for every fruits category were very less so we decided to merge all to fruits

df['Crop']=df['Crop'].apply(lambda x:x
                                    .replace('Papaya','Fruits')
                                    .replace('Mango','Fruits')
                                     .replace('Orange','Fruits')
                                     .replace('Other Fresh Fruits','Fruits')
                                     .replace('Pineapple','Fruits')
                                     .replace('Citrus Fruit','Fruits')
                                     .replace('Pome Fruit','Fruits')
                                     .replace('Pome Granet','Fruits')
                                     .replace('Grapes','Fruits')
                                     .replace('Jack Fruit','Fruits')
                                     .replace('Sapota','Fruits')
                                     .replace('Lemon','Fruits'))

In [25]:
# we have replace sub-category of gram with their main-category 

df['Crop']=df['Crop'].apply(lambda x:x
                                      .replace('black gram','gram')
                                     .replace('Moth','gram')
                                     .replace('Blackgram','gram')
                                      .replace('Gram','gram'))

In [26]:
# we have replace other Oilseeds total to  other oilseeds

df['Crop']=df['Crop'].apply(lambda x:x
                                      .replace('Oilseeds total' ,'other oilseeds')
                                      .replace('Niger seed' ,'other oilseeds'))

In [27]:
# we have replace sub-category of milltes with their main-category 

df['Crop']=df['Crop'].apply(lambda x:x
                                      .replace('Other Cereals & Millets' ,'Bajra')
                                      .replace('Samai' ,'Bajra')
                                      .replace('Small millets' ,'Bajra')
                                      .replace('Ragi','Bajra')
                                      .replace('Varagu','Bajra')
                                      .replace('Jobster','Bajra'))

In [28]:
# we have replace sub-category of Vegetables with their main-category 

df['Crop']=df['Crop'].apply(lambda x:x
                                     .replace('Coriander' ,'Other Vegetables')
                                     .replace('pulsess & Mutter(Vegetable)' ,'Other Vegetables')
                                     .replace('Bhindi' ,'Other Vegetables')
                                     .replace('Tomato','Other Vegetables')
                                     .replace('Cowpea(Lobia)','Other Vegetables')
                                     .replace('Cabbage','Other Vegetables')
                                     .replace('Carrot','Other Vegetables')
                                     .replace('Drum Stick','Other Vegetables')
                                     .replace('Redish','Other Vegetables')
                                     .replace('Cauliflower','Other Vegetables')
                                     .replace('Colocosia','Other Vegetables')
                                     .replace('Brinjal','Other Vegetables')
                                     .replace('Bottle Gourd','Other Vegetables')
                                     .replace('Bitter Gourd','Other Vegetables'))

In [29]:
#we have replace sub-category with their main-category

df['Crop']=df['Crop'].apply(lambda x:x.replace('Niger seed','Sesamum'))
df['Crop']=df['Crop'].apply(lambda x:x.replace('Korra','Total foodgrain'))
df['Crop']=df['Crop'].apply(lambda x:x.replace('Paddy','Rice'))

In [30]:
#we have observed some cropes rows are very very less so it wont make any sense to visualization so we decided to drop those rows

df.drop(df[df['Crop']=='Tea'].index,inplace=True)
df.drop(df[df['Crop']=='Coffee'].index,inplace=True)
df.drop(df[df['Crop']=='Rubber'].index,inplace=True)
df.drop(df[df['Crop']=='Cond-spcs other'].index,inplace=True)

In [31]:
# we have replaced  kapas to cotton etc.

df['Crop']=df['Crop'].apply(lambda x:x.replace('Kapas','Cotton(lint)')
                                      .replace('Cotton(lint)','Cotton'))

df.replace('Jute & mesta','Jute',inplace=True)
df.replace('Mesta','Jute',inplace=True)

In [32]:
#we have corrected spelling mistake

df['Crop']=df['Crop'].apply(lambda x:x
                                    .replace('Atcanut (Raw)','Arecanut')
                                    .replace('Arcanut (Processed)','Arecanut')
                                    .replace('Arecanut','Arecanut'))

In [33]:
# checking unique crops types after replacement

df.Crop.unique()

array(['Wheat', 'Onion', 'Maize', 'Groundnut', 'Rapeseed &Mustard',
       'Garlic', 'Coconut', 'pulses', 'Sweet potato', 'Tobacco',
       'Turmeric', 'Bajra', 'Sugarcane', 'Linseed', 'Banana', 'Rice',
       'Other Vegetables', 'Sesamum', 'Sannhamp', 'Dry chillies', 'Jowar',
       'Sunflower', 'Fruits', 'Barley', 'Dry ginger', 'Potato', 'gram',
       'Castor seed', 'Arecanut', 'Soyabean', 'other oilseeds',
       'Safflower', 'Guar seed', 'Tapioca', 'Total foodgrain', 'Cotton',
       'Jute', 'Cashewnut', 'Black pepper', 'Cardamom', 'Perilla'],
      dtype=object)

In [34]:
# saving cleaned data file

df.to_csv('Crop_clean.csv')

In [ ]:
clean_df = pd.read_csv('C